@import url("colors.css");
@import url("scrollingContainer.css");

.roboto-normal {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.kolker-brush-regular {
	font-family: "Kolker Brush", serif;
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	color: var(--fontColor);
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
}

img {
	width: 100%;
}

nav {
	display: flex;
	gap: 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

li.inputGroup {
	list-style: none;

	display: flex;
	flex-direction: column;
}

button {
	border: 0.7px solid var(--darkGray);
	background-color: var(--accent);
	border-radius: 5px;

	width: fit-content;
	margin: auto;
	padding: 10px 20px;
	transition: all 0.3s;
}

button:hover {
	transform: scale(1.07);
}

a {
	font-size: 1.3rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--darkGray);

	cursor: pointer;
}

a:hover {
	color: var(--accent);
	text-decoration: underline var(--accent);
}

.material-symbols-outlined {
	position: relative;
	top: calc(0.025 * 48px);
	font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
	color: var(--darkGray);
	cursor: pointer;
}

.material-symbols-outlined:hover,
.dropdown:hover .material-symbols-outlined {
	color: var(--accent);
}

input {
	padding: 5px;
	border-radius: 5px;
	border: 0.5px solid rgba(0, 0, 0, 0.54);
	background-color: hsl(0 0% 95%);
}

.errorBox {
	color: var(--accent);
}

.paneTitle {
	padding: 10px;
}

section > .container {
	display: flex;
	flex-direction: column;
}

textarea {
	border: 1px black solid;
	border-radius: 10px;
	padding: 20px;
	margin: auto;

	resize: none;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 2.25fr 2fr;

	height: 500px;
}

.column {
	display: flex;
	flex-direction: column;

	padding: 15px;
}

.column__title {
	/* font-size: 1.2rem;	 */
	margin-bottom: 20px;
	padding: 0px 10px;

	text-align: center;
}
