.scrollWrapper {
	flex: 1 0 auto;

	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;

	width: 100%;
	margin: auto;
}

.scrollContent {
	overflow-y: auto;
}

.scrollContent::-webkit-scrollbar {
	display: none;
}

.topMessage {
	background-color: var(--lightGray);
	border-bottom: 1px solid black;
	padding: 5px;

	text-align: center;
	cursor: pointer;
}

.topMessage:hover {
	background-color: var(--accent);
	color: white;
}

.topMessage.disabled:hover {
	background-color: var(--lightGray);
	color: var(--fontColor);
}
